            .custom-input {
                width: 200px;
                padding-left: 20px;
            }
            
            .custom-card {
                padding-left: 30px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 50px;
            }
            
            .wrapper {
                margin-top: 20px;
            }
            
            .btn {
                position: absolute;
                padding-top: 5px;
                padding-bottom: 5px;
            }